# ignore specific files
scripts/.credentials
scripts/*.jpg
scripts/*.log
#ignore launcher
photobooth.sh
# ignore log and animation frames
run.log
scripts/animframe*.*

# ignore compiled python files
scripts/*.pyc

# ignore emacs backupfiles
scripts/*.py~


# ignore credentials
scripts/*.cred
scripts/*.json
scripts/*.dat

# ignore album.id file
scripts/album.id
