# ignore specific files
scripts/openselfie.conf
scripts/.credentials
scripts/*.jpg
scripts/*.LOG
# ignore log and animation frames
run.log
scripts/animframe*.*

# ignore compiled python files
scripts/*.pyc

# ignore emacs backupfiles
scripts/*.py~


# ignore credentials
scripts/*.cred
scripts/*.json
scripts/*.dat
